{% extends 'base.html' %} {% block title %}Review{% endblock %} {% block content %}

<h1>Create Review Page:</h1>

<p>
	Fill in the info below to add a new review 
</p>

<div class="col-md-6">
<form form action="submit/" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="user_name">Enter Media ID</label>
      <input
        type="text"
        class="form-control"
        id="media_id"
        aria-describedby="media_idHelp"
        placeholder="1",
        name="media_id"
      />
    </div>
    <div class="form-group">
      <label for="middle_name">Rating</label>
      <input
        type="text"
        class="form-control"
        id="rating"
        aria-describedby="ratingHelp"
        placeholder="1.2"
        name="rating"
      />
    </div>
    <div class="form-group">
      <label for="middle_name">Enter Description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        aria-describedby="descriptionHelp"
        placeholder="What are your thoughts?"
        name="description"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>

{% endblock %}




