{% extends 'base.html' %} {% block title %}crews{% endblock %} {% block content%}

<h1>Crews:</h1>

<p>
  Here below you can find some of our crews!
</p>

<div class="row">
  <a class="btn btn-primary btn-lg btn-block" href="/crews/create"
    ><i class="fa fa-plus"></i> Add Crew</a
  >
  {% for crew in crews %}
  <div class="card col-md-4 card-space">
    <div class="card-body">
      <a href="/crews/info/{{ crew.pk }}/"
        ><h5 class="card-title">{{ crew.name }}</h5></a
      >
      <h6 class="card-subtitle mb-2 text-muted">crew</h6>
      <!-- <p class="card-text">Birthdate: {{ crew.birthdate }}</p> -->
      <p class="card-text">Type: {{ crew.ctype }}</p>
      <!-- <a href="food/{{ food.pk }}/" class="btn btn-primary">Learn More</a> -->
      <a href="/crews/edit/{{ crew.pk }}/" class="card-link">Edit</a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
