{% extends 'base.html' %} {% block title %}Edit Review{% endblock %} {% block content%}

<h1>Edit Review</h1>

<div class="col-md-6">
  <form form action="submit/" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="media_id">Media ID</label>
      <input
        type="text"
        class="form-control"
        id="media_id"
        aria-describedby="media_idHelp"
        placeholder="Reference"
        name="media_id"
        value="{{ review.mediaID }}"
      />
    </div>
    <div class="form-group">
      <label for="rating">Rating</label>
      <input
        type="text"
        class="form-control"
        id="rating"
        aria-describedby="ratingHelp"
        placeholder="5.0"
        name="rating"
        value="{{ review.rating }}"
      />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        type="text"
        class="form-control"
        id="description"
        aria-describedby="descriptionHelp"
        placeholder="This review..."
        name="description"
        >{{ review.description }}</textarea
      >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/review/delete/{{ review.pk }}/" class="btn btn-danger right-button"
      >Delete</a
    >
  </form>
</div>

{% endblock %}
