{% extends 'base.html' %} {% block title %}Edit Meme{% endblock %} {% block content%}

<h1>Edit Meme</h1>

<div class="col-md-6">
  <form form action="submit/" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="genre">Genre</label>
      <input
        type="text"
        class="form-control"
        id="genre"
        aria-describedby="genreHelp"
        placeholder="Reference"
        name="genre"
        value="{{ meme.genre }}"
      />
    </div>
    <div class="form-group">
      <label for="meme_format">Format</label>
      <input
        type="text"
        class="form-control"
        id="meme_format"
        aria-describedby="meme_formatHelp"
        placeholder="Top/Bottom Text"
        name="meme_format"
        value="{{ meme.format }}"
      />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        type="text"
        class="form-control"
        id="description"
        aria-describedby="descriptionHelp"
        placeholder="This meme..."
        name="description"
        >{{ meme.description }}</textarea
      >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/meme/delete/{{ meme.pk }}/" class="btn btn-danger right-button"
      >Delete</a
    >
  </form>
</div>

{% endblock %}
