{% extends 'base.html' %} {% block title %}Media Info{% endblock %} {% block content%}

<h1>{{ media.media_name }}</h1>

<dl class="row">
  <dt class="col-sm-3">Media Type</dt>
  <dd class="col-sm-9">{{ media.mtype }}</dd>

  <dt class="col-sm-3">Description</dt>
  <dd class="col-sm-9">
    <p>{{ media.description }}</p>
  </dd>
</dl>

{% if actors|length > 0 %}
<h3>Actors staring in {{ media.media_name }}</h3>
<div class="row">
  {% for actor in actors %}
  
  <div class="card col-md-4 card-space">
    <div class="card-body">
      <a href = "/actors/info/{{actor.pk}}">
        <h5 class="card-title">{{ actor.name }}</h5>
      </a>
      <h6 class="card-subtitle mb-2 text-muted">Role: {{ actor.role_name }}</h6>
      <p class="card-text">Gender: {{ actor.gender }}</p>
    </div>
  </div>
 
  {% endfor %}
</div>
{% endif %}{% if actors|length > 0 %}
<h3>Crews working on {{ media.media_name }}</h3>
<div class="row">
  {% for crew in crews %}
  
  <div class="card col-md-4 card-space">
    <div class="card-body">
      <a href = "/crews/info/{{crew.pk}}">
        <h5 class="card-title">{{ crew.name }}</h5>
      </a>
      <h6 class="card-subtitle mb-2 text-muted">Crew Type: {{ crew.ctype }}</h6>
    </div>
  </div>
 
  {% endfor %}
</div>
{% endif %}{% if memes|length > 0 %}
<h3>Memes about {{ media.media_name }}</h3>
<div class="row">
  {% for meme in memes %}
  <div class="card col-md-4 card-space">
      <div class="card-body">
        <h5 class="card-title">{{ meme.genre }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Meme</h6>
        <!-- <p class="card-text">Birthdate: {{ media.birthdate }}</p> -->
        <p class="card-text">Format: {{ meme.format }}</p>
        <p class="card-text">Description: {{ meme.description }}</p>
        <!-- <a href="food/{{ food.pk }}/" class="btn btn-primary">Learn More</a> -->
      </div>
    </div>
  {% endfor %}
</div>
{% endif %} {% if reviews|length > 0 %}
<h3>Reviews for {{ media.media_name }}</h3>
<div class="row">
  {% for review in reviews %}
  <div class="card col-md-4 card-space">
    <div class="card-body">
      <h5 class="card-title">Review</h5>
      <h6 class="card-subtitle mb-2 text-muted">Rating: {{ review.rating }}</h6>
      <p class="card-text">Description: {{ review.description }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %} {% endblock %}
