{% extends 'base.html' %} {% block title %}Media{% endblock %} {% block content%}

<h1>Media:</h1>

<p>
  Here below you can find some of our media!
</p>

<div class="row">
  <a class="btn btn-primary btn-lg btn-block" href="/media/create"
    ><i class="fa fa-plus"></i> Add Media</a
  >
  {% for media in medias %}
  <div class="card card-space">
    <div class="card-body">
      <a href="/media/info/{{ media.pk }}/">
        <h5 class="card-title">{{ media.media_name }}</h5>
      </a>
      <h6 class="card-subtitle mb-2 text-muted">media</h6>
      <!-- <p class="card-text">Birthdate: {{ media.birthdate }}</p> -->
      <p class="card-text">Type: {{ media.mtype }}</p>
      <p class="card-text">Description: {{ media.description }}</p>
      <!-- <a href="food/{{ food.pk }}/" class="btn btn-primary">Learn More</a> -->
      <a href="/media/edit/{{ media.pk }}/" class="card-link">Edit</a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
