{% extends 'base.html' %} {% block title %}Media{% endblock %} {% block content%}

<h1>Media:</h1>

<p>
  Here below you can find some of our media!
</p>

<div class="row">
    <div class="card col-md-4 card-space">
        <a href="/media/create">
            <div class="card-block text-center">
              <h2><i class="fa fa-plus fa-3x"></i></h2>
              <h4 class="card-title">Add Media</h4>
            </div>
        </a>
      </div>
  {% for media in medias %}
  <div class="card col-md-4 card-space">
    <div class="card-body">
      <h5 class="card-title">{{ media.media_name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">media</h6>
      <!-- <p class="card-text">Birthdate: {{ media.birthdate }}</p> -->
      <p class="card-text">Type: {{ media.mtype }}</p>
      <p class="card-text">Description: {{ media.description }}</p>
      <!-- <a href="food/{{ food.pk }}/" class="btn btn-primary">Learn More</a> -->
      <a href="/media/info/{{ media.pk }}/" class="btn btn-primary">More Info</a>
      <a href="/media/edit/{{ media.pk }}/" class="card-link">Edit</a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
